<a href="https://colab.research.google.com/github/Gbemeegar/HamoyeAI-project/blob/main/HamoyeAI_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv")
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [4]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [5]:
# creating X and y variables`
X= df.drop(columns=['stabf', 'stab'])
y= df['stabf']

In [17]:
from sklearn.preprocessing import StandardScaler
sts= StandardScaler()
X_scaled =sts.fit_transform(X)

In [18]:
X= pd.DataFrame(Xscaled, columns=X.columns)
X.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,-0.835374,-0.791317,1.141704,1.652103,0.017397,1.079405,-0.017078,-1.092545,0.457467,1.220013,1.321628,1.579026
1,1.478297,-0.126705,-0.803111,-1.415043,1.752124,-1.593619,-1.438158,-0.011575,-0.406791,1.230354,0.135424,0.936256
2,1.357093,1.312140,-0.803499,-1.471504,-0.458492,0.098253,-0.062840,0.760963,-1.319852,0.881299,1.146596,-1.513802
3,-1.653138,0.882289,-0.278354,-1.060901,0.284250,0.513904,-1.591046,0.583414,-0.287304,1.647250,1.474543,-0.591750
4,-0.771543,0.860108,-0.111670,1.680114,-0.298075,0.287450,-1.376343,1.606636,0.992226,-0.253610,0.481133,1.079063

In [19]:
# splitting the model into Traing data and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2, random_state=0)
X_train.shape, y_train.shape

((8000, 12), (8000,))

In [20]:
import imblearn
from imblearn.over_sampling import SMOTE
smote= SMOTE(random_state= 1)
X_train, y_train= smote.fit_resample(X_train, y_train)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
logreg= LogisticRegression()
logreg.fit(X_train, y_train)
y_pred= logreg.predict(X_test)
cv= cross_val_score(logreg, X_train, y_train)

In [22]:
from sklearn.metrics import precision_score, accuracy_score, recall_score, f1_score
def model_eval(model_name, ytrue, ypredicted):
    f1= f1_score(ytrue, ypredicted, pos_label='stable')
    print(f'f1_score for {model_name} is: {f1}')
    acc= accuracy_score(ytrue, ypredicted)
    print(f'Accuracy score for {model_name} is: {acc}')
    precision= precision_score(ytrue, ypredicted, pos_label='stable')
    print(f'Precision score for {model_name} is: {precision}')
    recall= recall_score(ytrue, ypredicted, pos_label='stable')
    print(f'Recall score for {model_name} is: {recall}')

In [23]:
model_eval('cv', y_test, y_pred)

f1_score for cv is: 0.741025641025641
Accuracy score for cv is: 0.798
Precision score for cv is: 0.6938775510204082
Recall score for cv is: 0.7950481430536451

In [24]:
import lightgbm as lgb
lgclass= lgb.LGBMClassifier(random_state=1)
lgclass.fit(X_train, y_train)
lgpred= lgclass.predict(X_test)
lgpred

array(['unstable', 'stable', 'unstable', ..., 'stable', 'unstable',
       'unstable'], dtype=object)

In [25]:
model_eval('lgb', y_test, lgpred)

f1_score for lgb is: 0.9197278911564626
Accuracy score for lgb is: 0.941
Precision score for lgb is: 0.9098250336473755
Recall score for lgb is: 0.9298486932599724

In [26]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier(random_state=1)
rfc.fit(X_train, y_train)
rfcpred= rfc.predict(X_test)

In [27]:
model_eval('rfc', y_test, rfcpred)

f1_score for rfc is: 0.8958051420838972
Accuracy score for rfc is: 0.923
Precision score for rfc is: 0.881491344873502
Recall score for rfc is: 0.9105914718019257

In [28]:
import xgboost as xgb
xgclass= xgb.XGBClassifier()
xgclass.fit(X_train, y_train)
xgpred= xgclass.predict(X_test)

In [29]:
model_eval('xgb',y_test, xgpred)

f1_score for xgb is: 0.8885923949299532
Accuracy score for xgb is: 0.9165
Precision score for xgb is: 0.8626943005181347
Recall score for xgb is: 0.9160935350756534

In [30]:
import lightgbm as lgb
lgclass= lgb.LGBMClassifier(random_state=1)
lgclass.fit(X_train, y_train)
lgpred= lgclass.predict(X_test)

In [31]:
model_eval('lgbm',y_test, lgpred)

f1_score for lgbm is: 0.9197278911564626
Accuracy score for lgbm is: 0.941
Precision score for lgbm is: 0.9098250336473755
Recall score for lgbm is: 0.9298486932599724

In [32]:
from sklearn.ensemble import ExtraTreesClassifier
etc= ExtraTreesClassifier(random_state=1)
etc.fit(X_train, y_train)
etcpred= etc.predict(X_test)

In [33]:
model_eval('etc',y_test, etcpred)

f1_score for etc is: 0.8960223307745987
Accuracy score for etc is: 0.9255
Precision score for etc is: 0.9093484419263456
Recall score for etc is: 0.8830811554332875

In [34]:
etc.feature_importances_

array([0.12021573, 0.11429733, 0.11011592, 0.11772274, 0.03960585,
       0.04042989, 0.04029722, 0.04007221, 0.09148063, 0.09424132,
       0.10095069, 0.09057046])

In [35]:
df.columns

Index(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2',
       'g3', 'g4', 'stab', 'stabf'],
      dtype='object')

In [40]:
importance=pd.DataFrame(etc.feature_importances_, index=X.columns, columns=['coef'])
importance.sort_values('coef', ascending=False)

          coef
tau1  0.120216
tau4  0.117723
tau2  0.114297
tau3  0.110116
g3    0.100951
g2    0.094241
g1    0.091481
g4    0.090570
p2    0.040430
p3    0.040297
p4    0.040072
p1    0.039606