In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
url= "https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv"
data=pd.read_csv(url)
data.head(2)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

## QUESTIONS

12.  
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

Options
0.62

0.64

0.57

0.51

Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

13.  
What is the Mean Absolute Error (in two decimal places)?

Options
0.10

0.01

0.05

0.19

14.  
What is the Residual Sum of Squares (in two decimal places)?

Options
45.35

39.20

47.19

44.11

15.  
What is the Root Mean Squared Error (in three decimal places)?

Options
0.104

0.083

0.088

0.079

16.  
What is the Coefficient of Determination (in two decimal places)?

Options
0.20

0.15

0.21

0.16

17.  
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

Options
T_out, T3

T6, RH_4

rv1, Windspeed

RH_2, RH_1

18.  
Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

Options
No

Yes

19.  
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

Options
26

4

5

7

20.  
What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

Options
0.101

0.089

0.094

0.112

QUESTION 12:  
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [ ]:
model= LinearRegression()
model.fit(data[['T2']], data['T6'])

In [ ]:
ans1= model.predict(data[['T6']])

In [ ]:
model.score(data[['T2']],data[['T6']]).round(2)

#### Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

In [11]:
#dropping columns
df= data.drop(["date", "lights"], axis=1)
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
norm_df=scaler.fit_transform(df)
norm_df= pd.DataFrame(norm_df, columns=['Appliances', 'kitchen', 'RH_1', 'living', 'RH_2',
       'laundry', 'RH_3', 'office', 'RH_4', 'bath', 'RH_5', 'outside', 'RH_6',
       'ironing', 'RH_7', 'teenager', 'RH_8', 'parents', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'])

In [12]:
#seperating the independent from the dependent features
x= norm_df.drop('Appliances', axis=1)
y= norm_df['Appliances']

In [13]:
x.shape, y.shape

((19735, 26), (19735,))

In [14]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.3, random_state=42)

In [15]:
#model creation
model1= LinearRegression()

In [16]:
#Training the model
model1.fit(x_train, y_train)

LinearRegression()

In [17]:
ans2=model1.predict(x_test)

14. What is the Mean Absolute Error (in two decimal places)?

In [19]:
from sklearn.metrics import mean_absolute_error

In [20]:
mean_absolute_error(y_test, ans2).round(2)

0.05

14.  
What is the Residual Sum of Squares (in two decimal places)?

In [21]:
RSS = np.sum(np.square(y_test - ans2))
RSS.round(2)

45.35

15. What is the Root Mean Squared Error (in three decimal places)?

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
np.sqrt(mean_squared_error(y_test, ans2)).round(3)

0.088

16. What is the Coefficient of Determination (in two decimal places)?

In [24]:
r2_score(y_test, ans2).round(2)

0.15

17. Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [25]:
def get_weights(model, feat, col_name):
    weights= pd.Series(model.coef_, feat.columns).sort_values()
    we_df= pd.DataFrame(weights).reset_index()
    we_df.columns=['features', col_name]
    we_df[col_name].round(3)
    return we_df

In [26]:
get_weights(model1, x_train, "weight")

       features    weight
0          RH_2 -0.456698
1         T_out -0.321860
2        living -0.236178
3       parents -0.189941
4          RH_8 -0.157595
5        RH_out -0.077671
6          RH_7 -0.044614
7          RH_9 -0.039800
8          bath -0.015657
9       kitchen -0.003281
10          rv1  0.000770
11          rv2  0.000770
12  Press_mm_hg  0.006839
13      ironing  0.010319
14   Visibility  0.012307
15         RH_5  0.016006
16         RH_4  0.026386
17       office  0.028981
18    Windspeed  0.029183
19         RH_6  0.038049
20         RH_3  0.096048
21     teenager  0.101995
22    Tdewpoint  0.117758
23      outside  0.236425
24      laundry  0.290627
25         RH_1  0.553547

18. Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [27]:
ridge= Ridge(alpha=0.4)

In [28]:
ridge.fit(x_train, y_train)

Ridge(alpha=0.4)

In [29]:
ans3= ridge.predict(x_test)
np.sqrt(mean_squared_error(y_test, ans3)).round(3)

0.088

19. Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [30]:
lasso= Lasso(alpha=0.001)

In [31]:
lasso.fit(x_train, y_train)

Lasso(alpha=0.001)

In [32]:
ans4=lasso.predict(x_test)

In [33]:
lasso.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

20. What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places

In [34]:
np.sqrt(mean_squared_error(y_test, ans4)).round(3)

0.094